@charset "UTF-8";

/*
    Paleta de cores
    Cinza : #B9B8BF
    Preto fosco : #011F26
    Amarelo: #F2A516
    Laranja Fraco: #F27405
    Laranja forte : #D93D04
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor01: #B9B8BF
    --cor02: #011F26
    --cor03: #F2A516
    --cor04: #F27405
    --cor05: #D93D04
}
body {
    background: url(imagens/pexel-1920-2881.jpg) center center no-repeat fixed;
    background-image: linear-gradient(to bottom,--cor01, --cor05);
}
